.grid-item {
    width: 33%;
}
@media (max-width: 768px) {
    .grid-item {
        width: 100%;
    }
}

.avatar {
    height: 64px;
    border-radius: 5px;
    border: 1px solid #999;
    vertical-align: bottom;
}

.applicant-info {
    text-align: center;
}

.is-light.filter {
    border: 1px solid #999;
}
.is-light.filter:hover {
    border: 1px solid #999;   
}
.small-buttons a {
    font-size: 10px;
    margin-bottom: 5px;
}

.tile:not(.stamp-static) article {
    cursor: pointer;
}
.tile:not(.stamp-static) article:hover {
    opacity: 0.8;
}

.content img {
    border-radius: 3px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
}

.content a {
    text-decoration: underline;
    color: inherit;
}
.content a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.filter.active {
  box-shadow: 0 0 5px rgba(50,115,220, 0.5);
  border: 1px solid rgba(50,115,220, 0.5);
}

article > .title {
    padding-bottom: 10px;
    padding-top: 10px;
}